[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
	autocrlf = input
	eol = lf
	pager = less
[gui]
	recentrepo = C:/Users/Q0/prtb
[credential]
	helper = manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = {{ git_name }}
	email = {{ git_email }}
	signingkey = {{ gpg_key_id }}
[gpg]
	program = {{ gpg_binary }}
[commit]
	gpgsign = true
[credential "helperselector"]
	selected = manager-core
[merge]
	conflictStyle = zdiff3
[pager]
	diff = true

